<div class="calc" id="calc-rlrvi">
    <div class="ui centered">
        <h1 id="title">Ridge Logistic Regression with Variable Inputs Risk Score</h4>
        <div class="ui centered vertically divided equal width stackable grid">
            <div class="two column row">
                <div class="middle aligned column"></div>
                <div class="middle aligned column">
                    <div class="ui message">
                        <span class="required large"> * </span>: Required Field
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <form action="/rlrvi" method="POST" onsubmit="submitAsync(event, this)">
        <div class="ui centered vertically divided equal width stackable grid">
            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">Does this patient present with an acute coronary syndrome?<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui checkbox presents_coronary" style="">
                        <input
                            required
                            oninvalid="this.setCustomValidity('This calculator is only valid for patients who present with an acute coronary syndrome.')"
                            onchange="this.setCustomValidity('')"
                            type="checkbox"
                            name="presents_coronary"
                            id="presents_coronary"
                            value="1"
                        />
                    </div>
                    <div class="two ui buttons">
                        <label for="presents_coronary" class="ui button opaque " onclick="toggleButton(event, 'presents_coronary');">Yes</label>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">Patient Age<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui right labeled fluid input">
                        <input required
                            oninvalid="this.setCustomValidity('Please provide patient\'s age.')"
                            oninput="this.setCustomValidity('')"
                            type="number"
                            step=.01
                            name="age"
                        />
                        <div class="ui label">years</div>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">Pulse Rate<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui right labeled fluid input">
                        <input required
                            oninvalid="this.setCustomValidity('Please provide patient\'s pulse rate.')"
                            oninput="this.setCustomValidity('')"
                            type=number
                            step=.01
                            name="pulse"
                        />
                        <div class="ui label">bpm</div>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">Systolic blood pressure<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui right labeled fluid input">
                        <input required
                            oninvalid="this.setCustomValidity('Please provide patient\'s systolic blood pressure.')"
                            oninput="this.setCustomValidity('')"
                            type=number
                            step=.01
                            name="systolic"
                        />
                        <div class="ui label">mmHg</div>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">Initial creatinine<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui right labeled fluid input">
                        <input required
                            oninvalid="this.setCustomValidity('Please provide patient\'s initial creatinine.')"
                            oninput="this.setCustomValidity('')"
                            type=number
                            step=.01
                            name="creatinine"
                        />
                        <div class="ui label">mg/dL</div>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">Killip class<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui radio checkbox killip" style="">
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please provide Killip class.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="killip"
                            id="killip-1"
                            value="1"
                        />
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please provide Killip class.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="killip"
                            id="killip-2"
                            value="2"
                        />
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please provide Killip class.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="killip"
                            id="killip-3"
                            value="3"
                        />
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please provide Killip class.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="killip"
                            id="killip-4"
                            value="4"
                        />
                    </div>
                    <div class="ui one vertical fluid buttons">
                        <label for="killip-1" class="ui button fluid opaque check killip" onclick="markButton(event, 'killip');">No CHF</label>
                        <label for="killip-2" class="ui button fluid opaque check killip" onclick="markButton(event, 'killip');">Rales</label>
                        <label for="killip-3" class="ui button fluid opaque check killip" onclick="markButton(event, 'killip');">Pulmonary Edema</label>
                        <label for="killip-4" class="ui button fluid opaque check killip" onclick="markButton(event, 'killip');">Cardiogenic Shock</label>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">Cardiac arrest on presentation<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui radio checkbox cardiac_arrest" style="">
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate cardiac arrest.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="cardiac_arrest"
                            id="cardiac_arrest--off"
                            value="2"
                        />
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate cardiac arrest.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="cardiac_arrest"
                            id="cardiac_arrest--on"
                            value="1"
                        />
                    </div>
                    <div class="two ui buttons">
                        <label for="cardiac_arrest--off" class="ui button opaque uncheck cardiac_arrest" onclick="markButton(event, 'cardiac_arrest');">No</label>
                        <label for="cardiac_arrest--on" class="ui button opaque check cardiac_arrest" onclick="markButton(event, 'cardiac_arrest');">Yes</label>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">Initial positive cardiac enzymes, including CK, CK-MB, and troponin<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui radio checkbox enzymes" style="">
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please provide initial positive cardiac enzymes.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="enzymes"
                            id="enzymes--off"
                            value="2"
                        />
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please provide initial positive cardiac enzymes.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="enzymes"
                            id="enzymes--on"
                            value="1"
                        />
                    </div>
                    <div class="ui two buttons">
                        <label for="enzymes--off" class="ui button fluid opaque check enzymes" onclick="markButton(event, 'enzymes');">Negative</label>
                        <label for="enzymes--on" class="ui button fluid opaque check enzymes" onclick="markButton(event, 'enzymes');">Positive</label>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">ST segment deviation<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui radio checkbox st_deviation" style="">
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please provide ST segment deviation.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="st_deviation"
                            id="st_deviation--off"
                            value="2"
                        />
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please provide ST segment deviation.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="st_deviation"
                            id="st_deviation--on"
                            value="1"
                        />
                    </div>
                    <div class="two ui buttons">
                        <label for="st_deviation--off" class="ui button opaque uncheck st_deviation" onclick="markButton(event, 'st_deviation');">No</label>
                        <label for="st_deviation--on" class="ui button opaque check st_deviation" onclick="markButton(event, 'st_deviation');">Yes</label>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">Admission weight<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui radio checkbox weight_metric">
                        <input required
                            oninvalid="this.setCustomValidity('Please provide patient\'s weight metric.')"
                            oninput="resetRadioValidity()"
                            type=radio
                            name="weight_metric"
                            id="weight_metric--kg"
                            value="kg"
                        />
                        <input required
                            oninvalid="this.setCustomValidity('Please provide patient\'s weight metric.')"
                            oninput="resetRadioValidity()"
                            type=radio
                            name="weight_metric"
                            id="weight_metric--lb"
                            value="lb"
                        />
                    </div>
                    <div class="ui right labeled fluid input">
                        <input required
                            oninvalid="this.setCustomValidity('Please provide patient\'s weight.')"
                            oninput="this.setCustomValidity('')"
                            type=number
                            step=.01
                            name="weight_kg"
                            id="weight_kg"
                        />
                        <div class="ui buttons">
                            <label for="weight_metric--kg" class="ui label button opaque check weight_metric" onclick="markButton(event, 'weight_metric')">kg</label>
                            <label for="weight_metric--lb" class="ui label button opaque check weight_metric" onclick="markButton(event, 'weight_metric')">lb</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">History of renal insufficiency<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui radio checkbox renal_insufficiency">
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate history of renal insufficiency.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="renal_insufficiency"
                            id="renal_insufficiency--off"
                            value="2"
                        />
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate history of renal insufficiency.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="renal_insufficiency"
                            id="renal_insufficiency--on"
                            value="1"
                        />
                    </div>
                    <div class="two ui buttons">
                        <label for="renal_insufficiency--off" class="ui button opaque uncheck renal_insufficiency" onclick="markButton(event, 'renal_insufficiency');">No</label>
                        <label for="renal_insufficiency--on" class="ui button opaque check renal_insufficiency" onclick="markButton(event, 'renal_insufficiency');">Yes</label>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">History of congestive heart failure (CHF)<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui radio checkbox rlrvi_chf">
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate history of congestive heart failure.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="rlrvi_chf"
                            id="rlrvi_chf--off"
                            value="2"
                        />
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate history of congestive heart failure.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="rlrvi_chf"
                            id="rlrvi_chf--on"
                            value="1"
                        />
                    </div>
                    <div class="two ui buttons">
                        <label for="rlrvi_chf--off" class="ui button opaque uncheck rlrvi_chf" onclick="markButton(event, 'rlrvi_chf');">No</label>
                        <label for="rlrvi_chf--on" class="ui button opaque check rlrvi_chf" onclick="markButton(event, 'rlrvi_chf');">Yes</label>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">History of peripheral arterial disease<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui toggle checkbox rlrvi_pad">
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate history of peripheral arterial disease.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="rlrvi_pad"
                            id="rlrvi_pad--off"
                            value="2"
                        />
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate history of peripheral arterial disease.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="rlrvi_pad"
                            id="rlrvi_pad--on"
                            value="1"
                        />
                    </div>
                    <div class="two ui buttons">
                        <label for="rlrvi_pad--off" class="ui button opaque uncheck hyperlipidemia_baseline" onclick="markButton(event, 'rlrvi_pad');">No</label>
                        <label for="rlrvi_pad--on" class="ui button opaque check hyperlipidemia_baseline" onclick="markButton(event, 'rlrvi_pad');">Yes</label>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">Chronic warfarin use<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui radio checkbox warfarin">
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate chronic warfarin use.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="warfarin"
                            id="warfarin--off"
                            value="2"
                        />
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate chronic warfarin use.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="warfarin"
                            id="warfarin--on"
                            value="1"
                        />
                    </div>
                    <div class="two ui buttons">
                        <label for="warfarin--off" class="ui button opaque uncheck warfarin" onclick="markButton(event, 'warfarin');">No</label>
                        <label for="warfarin--on" class="ui button opaque check warfarin" onclick="markButton(event, 'warfarin');">Yes</label>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">Oral beta blocker use, pre-hospital acute or within first 24 hours at hospital<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui radio checkbox use_betablocker">
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate oral beta blocker use.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="use_betablocker"
                            id="use_betablocker--off"
                            value="2"
                        />
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate oral beta blocker use.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="use_betablocker"
                            id="use_betablocker--on"
                            value="1"
                        />
                    </div>
                    <div class="two ui buttons">
                        <label for="use_betablocker--off" class="ui button opaque uncheck use_betablocker" onclick="markButton(event, 'use_betablocker');">No</label>
                        <label for="use_betablocker--on" class="ui button opaque check use_betablocker" onclick="markButton(event, 'use_betablocker');">Yes</label>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">Statin use, pre-hospital acute or within first 24 hours at hospital<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui radio checkbox use_statin">
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate statin use.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="use_statin"
                            id="use_statin--off"
                            value="2"
                        />
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate statin use.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="use_statin"
                            id="use_statin--on"
                            value="1"
                        />
                    </div>
                    <div class="two ui buttons">
                        <label for="use_statin--off" class="ui button opaque uncheck use_statin" onclick="markButton(event, 'use_statin');">No</label>
                        <label for="use_statin--on" class="ui button opaque check use_statin" onclick="markButton(event, 'use_statin');">Yes</label>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">Diuretic use, pre-hospital acute or within first 24 hours at hospital<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui radio checkbox use_diuretic">
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate diuretic use.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="use_diuretic"
                            id="use_diuretic--off"
                            value="2"
                        />
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate diuretic use.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="use_diuretic"
                            id="use_diuretic--on"
                            value="1"
                        />
                    </div>
                    <div class="two ui buttons">
                        <label for="use_diuretic--off" class="ui button opaque uncheck use_diuretic" onclick="markButton(event, 'use_diuretic');">No</label>
                        <label for="use_diuretic--on" class="ui button opaque check use_diuretic" onclick="markButton(event, 'use_diuretic');">Yes</label>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">Insulin use, pre-hospital acute or within first 24 hours at hospital<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui radio checkbox use_insulin">
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate insulin use.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="use_insulin"
                            id="use_insulin--off"
                            value="2"
                        />
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate insulin use.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="use_insulin"
                            id="use_insulin--on"
                            value="1"
                        />
                    </div>
                    <div class="two ui buttons">
                        <label for="use_insulin--off" class="ui button opaque uncheck use_insulin" onclick="markButton(event, 'use_insulin');">No</label>
                        <label for="use_insulin--on" class="ui button opaque check use_insulin" onclick="markButton(event, 'use_insulin');">Yes</label>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">IV inotropic agent use, pre-hospital acute or within first 24 hours at hospital<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui radio checkbox use_iv_inotropic">
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate IV inotropic use.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="use_iv_inotropic"
                            id="use_iv_inotropic--off"
                            value="2"
                        />
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate IV inotropic use.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="use_iv_inotropic"
                            id="use_iv_inotropic--on"
                            value="1"
                        />
                    </div>
                    <div class="two ui buttons">
                        <label for="use_iv_inotropic--off" class="ui button opaque uncheck use_iv_inotropic" onclick="markButton(event, 'use_iv_inotropic');">No</label>
                        <label for="use_iv_inotropic--on" class="ui button opaque check use_iv_inotropic" onclick="markButton(event, 'use_iv_inotropic');">Yes</label>
                    </div>
                </div>
            </div>

            <div class="two column row">
                <div class="left aligned middle aligned column">
                    <label class="">IV beta blocker use, pre-hospital acute or within first 24 hours at hospital<span class="required"> *</span></label>
                </div>
                <div class="right aligned middle aligned column">
                    <div class="ui radio checkbox use_iv_betablocker">
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate statin use.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="use_iv_betablocker"
                            id="use_iv_betablocker--off"
                            value="2"
                        />
                        <input
                            required
                            oninvalid="this.setCustomValidity('Please indicate statin use.')"
                            oninput="resetRadioValidity()"
                            type="radio"
                            name="use_iv_betablocker"
                            id="use_iv_betablocker--on"
                            value="1"
                        />
                    </div>
                    <div class="two ui buttons">
                        <label for="use_iv_betablocker--off" class="ui button opaque uncheck use_iv_betablocker" onclick="markButton(event, 'use_iv_betablocker');">No</label>
                        <label for="use_iv_betablocker--on" class="ui button opaque check use_iv_betablocker" onclick="markButton(event, 'use_iv_betablocker');">Yes</label>
                    </div>
                </div>
            </div>
        </div>

        <div id="result" class="ui large loading segment hidden">
        </div>

        <input class="fluid ui button md-green" id="submit" type="submit" value="Submit" >
    </form>
</div>
