#stripe {
  min-height: 80px;
  width: 100%;
  background: #1bb193;
}
#header {
  min-height: 80px;
  font-size: 16px;
  color: white;
}
#title {
  margin: 1rem 0 3rem;
  text-align: center;
  color: #595959;
}
#header a {
  margin: 0;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
#content {
}
#submit {
  margin: 2rem 0;
}
#result {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#result .resultRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#result .resultRow:first-child {
  font-weight: 600;
}
#result .resultItem {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#result .resultItem:first-child {
  flex: 2;
}
.md-green {
  color: white !important;
  background-color: #1bb193 !important;
  border-color: #1bb193 !important;
}
.md-green:hover {
  background-color: #19a68a !important;
}
.hidden {
  display: none !important;
}

body {
  font-family: Facit,Calibri,Helvetica,sans-serif !important;
  color: #595959;
}

/* Semantic-UI customizations */
.ui.disabled.button.md-green.opaque {
  opacity: 1 !important;
}
.ui.disabled.button.opaque {
  opacity: 1 !important;
}
.ui.toggle.checkbox,
.ui.toggle.checkbox label:before,
.ui.toggle.checkbox label:after
{
  height: 0 !important;
  min-height: 0 !important;
  width: 78px !important;
  min-width: 78px !important;
  z-index: -1;
}
.button {
  border: 1px solid silver !important;
}
.buttons .button:not(:last-child) {
  border-right: 1px solid silver !important;
}
.buttons:not(.vertical) .button:last-child {
  border-left: 0px solid silver !important;
}
.ui.label {
  line-height: unset !important;
}

h3{
  display: flex;
  justify-content: center;
}

/* Responsive columns */
@media (min-width: 768px) {
  #content {
    margin: 5% 0;
    width: 60%;
    height: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #content{
    margin-top: 5%;
    width: 100%;
    height: 100%;
    font-size: 18px;
  }
  .ui.label {
    padding-bottom: 0 !important;
  }
}
